<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body style="margin:0;padding:0;text-align:left;">
        <div style="text-align: center; ">
            <img style="width: 200px;" src="https://i.imgur.com/r03c8Ar.png" alt="">
        </div>

        ​​Hello <strong>{{user.first_name}}</strong>,

        <br>
        <br>

        Thank you for joining Kape Giting. Click the link below to confirm that this is the correct email to reach you.
        <br>
        <br>
        <div style="text-align: center; ">
        <a style="background-color: #4b2108; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;"
        
        href="{{ protocol }}://{{ domain }}{% url 'account:verify' token=token %}">Confirm Email</a>
        </div>
        <br>
        If you didn't request this email, there's nothing to worry about -- you can safely ignore it.
        <br>
        <br>
        <br>
        <br>
        Sincerely,
        <br>
        Kape Giting Brewers
    </body>
</html>