**/.vscode
**/.vscode/**
**.env**
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
/env/
Scripts/activate
.gitignore
Scripts/sqlformat.exe
Scripts/pythonw.exe
Scripts/python.exe
.gitignore
Scripts/pip3.exe
Scripts/pip3.10.exe
.gitignore
.gitignore
Scripts/Activate.ps1
Scripts/activate.bat
Scripts/deactivate.bat
Scripts/django-admin.exe
.gitignore
Scripts/pip.exe
Scripts/gunicorn.exe
.gitignore
