**/.vscode
**/.vscode/**
**.env**
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
venv/
coffeenijuan/db.sqlite3
Scripts/sqlformat.exe
Scripts/pythonw.exe
Scripts/python.exe
Scripts/pip3.exe
Scripts/pip3.10.exe
Scripts/pip.exe
Scripts/gunicorn.exe
Scripts/django-admin.exe
Scripts/deactivate.bat
Scripts/Activate.ps1
Scripts/activate.bat
Scripts/activate
coffeenijuan/db.sqlite3
.gitignore
