{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row d-flex justify-content-center align-items-top py-5">
        <div class="col-md-9 col-lg-7 col-xl-4 d-none d-lg-block">
            <img src="{% static 'resources/logo.png' %}">
        </div>
        <div class="col-md-8 col-lg-5 col-xl-4 offset-xl-2">
            <form method="POST">
                <div class="row">
                    <h2 class="sign-title text-left title col-10"> Password Reset </h2>
                    <img class="d-lg-none d-sm-inline col col-2" height="50" width="50" src="{% static 'resources/logo.png' %}">
                </div>
                
                {% csrf_token %}
                {{ form }}      
                
                <div class="submit-btn animation-btn-container">
                    <span class="su_button_circle"></span>
                    <div class="col-10-md-1 animation-btn">
                        <input class="button_text_container" type="submit" name="login" value="Reset Password">        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}