{% extends "base.html" %}

{% block content %}
  
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}                  
        <div class="submit-btn animation-btn-container">
            <span class="su_button_circle"></span>
            <div class="col-10-md-1 animation-btn">
                <input class="button_text_container" type="submit" name="login" value="Reset Password">        
            </div>
        </div>
    </form>
</div>
  
{% endblock %}