{% extends "base.html" %}

{% block content %}
  
<div class="container-fluid p-4 text-center">
    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
    <hr>
    <p>Your password has been set. You may go ahead and log in now.</p>                 
    <div class="animation-btn-container">
        <span class="su_button_circle"></span>
        <a type="button" class="custom-btn animation-btn" href="{% url 'account:login' %}">
            <span class="button_text_container">
                LOGIN
            </span>
       </a>
    </div>
</div>
  
{% endblock %}