{% extends "management/base_overview.html" %}
{% load static %}

{% block content %}
<article class="container-fluid">
    <section>
        <div class="d-flex bg-white rounded p-2 border">
            <form class="input-group flex-nowrap w-50">
                <input style="height:40px" type="text" class="form-control" name="description" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
                <button style="height:40px" class="input-group-text btn btn-light btn-outline-dark" type="submit" id="addon-wrapping"><i class="bi bi-search"></i></button>
            </form>
            <nav class="navbar ms-auto navbar-expand-lg navbar-light bg-white p-0">
                <div class="container-fluid justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSort" aria-controls="navbarSort" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSort">
                    <ul class="navbar-nav align-items-end mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="dropdown mx-2 dropstart">
                                <button class="btn btn-light btn-outline-dark dropdown-toggle" type="button" id="dropdown-btn-1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sort Date
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown-btn-1">
                                <li><a class="dropdown-item" href="{{ extra_query }}&sort=desc-created"><i class="bi bi-sort-alpha-down-alt"></i>Descending</a></li>
                                <li><a class="dropdown-item" href="{{ extra_query }}&sort=asc-created"><i class="bi bi-sort-alpha-down"></i>Ascending</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <table class="table table-white">
            <thead class="table-active">
                <tr>
                    <th class="p-3 h6 fw-bolder">Customer</th>
                    <th class="p-3 h6 fw-bolder">Description</th>
                    <th class="p-3 h6 fw-bolder">Grand Total</th>
                    <th class="p-3 h6 fw-bolder">Payment Type</th>
                    <th class="p-3 h6 fw-bolder">Date</th>
                    <th class="p-3 h6 fw-bolder">Status</th>
                    <th class="p-3 h6 fw-bolder">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td class="p-3 h6">{{ transaction.action_type }}</td>
                        <td class="p-3 h6">{{ transaction.description }}</td>
                        <td class="p-3 h6">{{ transaction.created }}</td>
                        <td class="p-3 h6">{{ transaction.user }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if transactions.has_other_pages %}
            <nav aria-label="Page navigation d-flex">
                <ul class="pagination justify-content-center">
                    {% if transactions.has_previous %}
                        <li class="page-item"><a class="page-link" href="{{ extra_query }}&page={{ transactions.previous_page_number }}{{extra_query}}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for i in transactions.paginator.page_range %}
                        {% if transactions.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ extra_query }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if transactions.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ extra_query }}&page={{ transactions.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </section>
</article>{% endblock %}