{% extends "management/base_overview.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<section>
    <div class="row mx-2 p-0">
        <div class="col-sm-6 p-0">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title text-muted">Unique Visits</h5>
                    <p class="display-6">{{ visits.0 }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-0">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title text-muted">Shop's Total Visits</h5>
                    <p class="display-6">{{ visits.1 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row mx-2">
        <div class="card col-sm-9 p-0">
            <div class="card-header">
                <span class="h4">Orders Graph</span>
            </div>
            <div class="card-body">
                <div id="myfirstchart"></div>

                <script>
            

                    new Morris.Line({
                        // ID of the element in which to draw the chart.
                        element: 'myfirstchart',
                        // Chart data records -- each entry in this array corresponds to a point on
                        // the chart.
                        data: [
                            {% for timeline in orders_timeline %}
                                { date: "{{timeline.date}}", value: "{{timeline.value}}"},
                            {% endfor %}
                        ],

                        // The name of the data record attribute that contains x-values.
                        xkey: 'date',
                        // A list of names of data record attributes that contain y-values.
                        ykeys: ['value'],
                        // Labels for the ykeys -- will be displayed when you hover over the
                        // chart.
                        labels: ['Number of Orders']
                    });
                </script>
            </div>
        </div>
        <div class="d-flex flex-column col-sm-3 p-0">
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title text-muted">Ongoing Orders</h5>
                <p class="h3">{{orders_status.0}}</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title text-muted">Approved Orders</h5>
                <p class="h3">{{orders_status.1}}</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title text-muted">Completed Orders</h5>
                <p class="h3">{{orders_status.2}}</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-body">
                <h5 class="card-title text-muted">Cancelled Orders</h5>
                <p class="h3">{{orders_status.3}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row mx-2 p-0">
        <div class="col-sm-4 p-0">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Customers</h5>
                    <p class="display-6">{{total_users.0}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-0">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Farmers</h5>
                    <p class="display-6">{{total_users.1}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 p-0">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title text-muted">Total Staff</h5>
                    <p class="display-6">{{total_users.2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}