{% extends "base2.html" %}
{% load static %}

{% block content %}
    
    <article class="container-fluid m-0 px-2 px-lg-5">
        <section class="row px-3 py-5">

            <!-- Product Image -->
            <div class="col-12 col-lg-4 text-center">
                <img class="img-fluid" src="{{ product.image_url }}" />
            </div>

            <div class="col-12 col-lg-8">
                <div class="display-5 fw-bolder">{{ product.label }}</div>

                <div class="h5 container h-100 glass-backdrop-brown"> 

                    <!-- Ratings and Sold -->
                    <div class="d-flex p-2">
                        <div class="stars m-0 p-0 text-warning">
                            {% for i in stars %}
                                <i class="bi bi-star-fill"></i>
                            {% endfor %}     
                            {% if not_whole %}
                                <i class="bi bi-star-half"></i>
                            {% endif %}
                            {% for i in empty_stars %}
                                <i class="bi bi-star"></i>
                            {% endfor %}                       
                        </div>
                        <div class="ratingText ms-3 me-2 me-md-0">{{ product.rating }} stars&nbsp</div>
                        <div class="amountSold ps-0 m-0">|&nbsp0 sold</div>
                    </div>

                    <!-- Text Details -->
                    <div class="row">
                        <div class="col-12 col-lg-7 h5 pt-2">
                            {{ product.description }}
                        </div>

                        <!-- Add to Cart and Buy Now -->
                        <div class="col-12 col-lg-5 h6 pt-2">
                            <form action="{% url 'payment:add_cart' product.id %}" method="post" class="container-fluid row p-0">
                                {% csrf_token %}

                                <span class="h5"> Quantity: </span>
                                <div class="col-12 text-center">
                                    <input type='button' value='-' class='minus col-1 yellow-color' field='quantity'/>
                                    <input type='text' name='quantity' value='1' class='qty col-4 w-25'/>
                                    <input type='button' value='+' class='plus col-1 yellow-color' field='quantity'/>
                                </div>
                                <span class="h5"> 0 remaining </span>
                                <div class="col-6">
                                    <div class="submit-btn animation-btn-container mt-5">
                                        <span class="su_button_circle"></span>
                                        <div class="col-6-md-1 h5 animation-btn">
                                            <input class="button_text_container" name="action" type="submit" value="ADD TO CART">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="submit-btn animation-btn-container mt-5 yellow-color">
                                        <span class="su_button_circle"></span>
                                        <div class="col-6-md-1 h5 animation-btn">
                                            <input class="button_text_container" name="action" type="submit" value="BUY NOW">        
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </section>

        <hr class="similarProduct-line" /> 

        <!-- Similar Products -->
        <section class="similarProducts container mb-4">
            <div class="row text-center">
                <div class="similarProductsTitle "><h5><b>Similar Products</b></h5></div>
                {% for product in items %}
                    {% if product.label != "Shipping Fee" %}
                    <a href="{% url 'product:product_item' product.id %}" class="d-block col-6 col-lg-3 p-2">
						<img class="img-fluid" src="{{ product.image_url }}" />
					</a>
                    {% endif %}
                {% endfor %}
                </div>
        </section>
    </article>
{% endblock %}
