{% extends "base1.html" %}

{% load static %}

{% block content %}
  
    
    <article class="container-fluid m-0 px-5">

		<!-- Background -->
		<img class="bg" src="{% static 'resources/bg.png' %}" />
		<section class="row ">
			
			<div class="col-md-2">
				<div class="row">
                    <!--Search Filter-->
					<div class ="col-md-2">
						<img class="filter" src = "{% static 'resources/filter.png' %}" />
					</div>
					<div class ="col-md-8">
						<div class="searchFilter"> Search Filter</div>
					</div>
				</div>	
				<!--Rating and Price Range-->
				<div class="rating"> Rating </div>
					<div class="rating d-flex p-2">
						<div class="stars m-0 p-0 yellow">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>							
						</div>
					</div>
					<div class="priceRange"> Price Range </div>
						<div class= "row">
							<div class = "col-md-3">
								<button type="button" class="minButton" onclick="alert('Minimum')">Min</button>	
							</div>		
							<div class = "col-md-3">
								<button type="button" class="maxButton" onclick="alert('Maximum')">Max</button>	
							</div>
						</div class>	
						<button type="button" class="button3" onclick="alert('Applied')">Apply</button>			
					</div>
				</div>	
			</div>	
			<div class="col-md-9">

				<!-- Product List -->
				<div class="productList">Product List</div>
					<div class="container-fluid">
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/1.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/3.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/4.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/2.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/1.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/2.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/5.png' %}" />
						<img class="productImage col-5 img-fluid mt-4" src="{% static 'resources/product/3.png' %}" />
					</div>
			</div>
		</section>
	</article>	

{% endblock %}