{% extends "base1.html" %}
{% load static %}

{% block content %}
    <article class="container-fluid m-0 px-5 row">
		<section class="col-12 col-lg-3 mt-5 glass-backdrop">
			<div class="col-12 row h3 d-none d-lg-block">
				<img class="img-fluid col-3" src = "{% static 'resources/filter.png' %}" />
				<span class="col-9"> Search Filter</span>
			</div>	
			<!--Rating and Price Range-->
			<form method="POST">
				{% csrf_token %}
				<div class="col-12 mt-0 mt-lg-5">
					<span class="h4"> Rating </span>
					<fieldset class="rating me-auto">
						<input type="radio" id="star5" name="rating" value="5" />
						<label class = "full" for="star5" title="Awesome - 5 stars"></label>
						<input type="radio" id="star4half" name="rating" value="4.5" />
						<label class="half" for="star4half" title="pretty good - 4.5 stars"></label>
						<input type="radio" id="star4" name="rating" value="4" />
						<label class = "full" for="star4" title="pretty good - 4 stars"></label>
						<input type="radio" id="star3half" name="rating" value="3.5" />
						<label class="half" for="star3half" title="somewhat good - 3.5 stars"></label>
						<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="somewhat good - 3 stars"></label>
						<input type="radio" id="star2half" name="rating" value="2.5" />
						<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
						<input type="radio" id="star2" name="rating" value="2" />
						<label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
						<input type="radio" id="star1half" name="rating" value="1.5" />
						<label class="half" for="star1half" title="somewhat good - 1.5 stars"></label>
						<input type="radio" id="star1" name="rating" value="1" />
						<label class = "full" for="star1" title="bad - 1 star"></label>
						<input type="radio" id="starhalf" name="rating" value="half" />
						<label class="half" for="starhalf" title="bad - 0.5 stars"></label>
					</fieldset>
				</div>
				<div class="col-12 mt-5">
					<span class="h4"> Price Range </span>
					<div class= "row">
						
						<div class="input-group w-50">
							<span class="input-group-text" id="addon-wrapping">Php</span>
							<input type="number" name="min" class="form-control" placeholder="Min" aria-label="Min" aria-describedby="addon-wrapping">
						</div>
						
						<div class="input-group w-50">
							<span class="input-group-text" id="addon-wrapping">Php</span>
							<input type="number" name="max" class="form-control" placeholder="Max" aria-label="Max" aria-describedby="addon-wrapping">
						</div>
					</div>			
				</div>

				<div class="submit-btn animation-btn-container col-12 mt-5">
					<span class="su_button_circle"></span>
					<div class="col-10-md-1 animation-btn">
						<input class="button_text_container" type="submit" value="APPLY">        
					</div>
				</div>
			</form>
		</section>	
		
		<section class="col-12 col-lg-9">
			<span class="display-5">Product List</span>
			<div class="row mt-3" style="overflow-y: scroll; height: 70vh;">
				<!-- Loops the products data -->
				{% for product in products %}
					<a href="{% url 'product:product_item' product.id %}" class="d-block col-6 col-lg-3 p-2">
						<img class="img-fluid" src="{{ product.image_url }}" />
						<span class="h6 fw-bolder">Php {{ product.price }} | {{ product.rating }} Stars</span>
					</a>
				{% endfor %}
				{% for product in products %}
					<a href="{% url 'product:product_item' product.id %}" class="d-block col-6 col-lg-3 p-2">
						<img class="img-fluid" src="{{ product.image_url }}" />
						<span class="h6 fw-bolder">Php {{ product.price }} | {{ product.rating }} Stars</span>
					</a>
				{% endfor %}
				{% for product in products %}
					<a href="{% url 'product:product_item' product.id %}" class="d-block col-6 col-lg-3 p-2">
						<img class="img-fluid" src="{{ product.image_url }}" />
						<span class="h6 fw-bolder">Php {{ product.price }} | {{ product.rating }} Stars</span>
					</a>
				{% endfor %}
			</div>
		</section>
	</article>	
{% endblock %}