{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
    <p>Hello {{request.user}}</p><a href="{% url 'account:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'account:login' %}">Login</a>
    <a href="{% url 'account:register' %}">Register</a>

    <div class="container">
            <div class="row d-flex justify-content-center align-items-top py-5">
                <!-- offset-xl-2 -->
                <div class=" d-none d-md-block col-md-8  ">
                    <div class="row  product-list" >
                        <div class=" col-md-4">
                            <img src="{% static 'resources/products/1.png' %}">
                        </div>
                        <div class=" col-md-4">
                            <img src="{% static 'resources/products/2.png' %}">
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'resources/products/3.png' %}">
                        </div>
                    </div>
                    <div class="row  product-list">
                        <div class=" col-md-6">
                            <img src="{% static 'resources/products/4.png' %}">
                        </div>
                        <div class="col-md-6">
                            <img src="{% static 'resources/products/5.png' %}">
                        </div>
                    </div>
                </div>
                <div class=" col-12 col-md-4 ">
                    <img class="logo" src="Resources/logo.png">
                </div>

            </div>
        </div>
{% endif %}


{% endblock %}
