{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" >
    <div class="row d-flex justify-content-center align-items-top py-3">
        <div class=" d-none d-md-block col-md-8 mt-auto">
            <div class="row justify-content-center">
                {% for product in items %}
                    {% if product.label != "Shipping Fee" %}
                    <a href="{% url 'product:product_item' product.id %}" class="col-md-4 p-2 rotation-1">
						<img class="rounded img-fluid float-image" src="/media/{{ product.image }}" />
					</a>
                    {% endif %}
                {% endfor %}
                <!-- <div class="col-md-4 p-2 rotation-1">
                    <img class="rounded img-fluid float-image" src="{% static 'resources/products/1.png' %}">
                </div>
                <div class="col-md-4 p-2 rotation-2">
                    <img class="rounded img-fluid float-image" src="{% static 'resources/products/2.png' %}">
                </div>
                <div class="col-md-4 p-2 rotation-3">
                    <img class="rounded img-fluid float-image" src="{% static 'resources/products/3.png' %}">
                </div>
                <div class="col-md-4 p-2 rotation-1">
                    <img class="rounded img-fluid float-image" src="{% static 'resources/products/4.png' %}">
                </div>
                <div class="col-md-4 p-2 rotation-2">
                    <img class="rounded img-fluid float-image"  src="{% static 'resources/products/5.png' %}">
                </div> -->
            </div>
        </div>
        <div class=" col-12 col-md-4 p-2 text-center py-5">
            <img class="rounded img-fluid" src="{% static 'resources/logo.png' %}">
        </div>
    </div>
</div>

{% endblock %}
