{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page">
    <div class="header">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <div class="navBar">
                    <div class="animation-btn-container custom-btn-container">
                        <span class="su_button_circle"></span>
                        <a type="button" class="custom-btn animation-btn" href="{% url 'account:home' %}">
                            <span class="button_text_container">
                                HOME
                            </span>
                       </a>
                    </div>
                    {% comment %} <div class="animation-btn-container custom-btn-container">
                        <span class="su_button_circle"></span>
                        <a type="button" class="custom-btn reverse-color animation-btn" href="{% url 'account:home' %}">
                            <span class="button_text_container">
                                BUY PRODUCTS
                            </span>
                       </a>
                    </div>  {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <div class="content ">
        <div class="container ">
            <div class="row">
                <!-- logo -->
                <div class="col-6">
                    <img class="logo" src="{% static 'resources/logo.png' %}">
                </div>

                <!-- register form -->
                <div class="col-6"> 
                    <div class= "registerForm"> 
                        <form action="{% url 'account:register' %}" method="post">
                            <div class="rowfield">
                                <div class="col-10-md-1">
                                    <h2 class="sign-title text-left title">
                                            <p></p>
                                            Register
                                            <img class="titleLogo" src="{% static 'resources/logo.png' %}">
                                    </h2>
                                </div>
                            </div>

                            <form action="/your-name/" method="post">
                                {% csrf_token %}
                                {{ form }}

                                {% for field in registration_form %}
                                   
                                        {{field.label_tag}}
                                        {{field}}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                   
                                {% endfor %}

                                {% if registration_form.non_field_errors %}
                                    <div style="color: red">
                                        <p>{{registration_form.non_field_errors}}</p>
                                    </div>
                                {% endif %}

                                <div class="rowfield submit-btn animation-btn-container">
                                    <span class="su_button_circle"></span>
                                    <div class="col-10-md-1 animation-btn">
                                        <input class="button_text_container" type="submit" name="register" value="REGISTER">        
                                    </div>
                                </div>
                              
                            </form>

                            <div class="rowfield">
                                <div class="col-10-md-1 options text-center">
                                    <b>By signing up, you agree to Kape Giting's</b>
                                    <a class="termOfService" href="">Term of services</a>
                                    <b>and</b>
                                    <a class="privacy" href="">Privacy Policy.</a> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}