{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-top py-5">
        <div class="col-md-9 col-lg-7 col-xl-4 d-none d-lg-block">
            <img src="{% static 'resources/logo.png' %}">
        </div>
        <div class="col-md-8 col-lg-4 col-xl-3 offset-xl-2">
            <form action="{% url 'account:register' %}" method="post">
                <div class="row">
                    <h2 class="sign-title text-left title col-10"> Register </h2>
                    <img class="d-lg-none d-sm-inline col col-2" height="50" width="50" src="{% static 'resources/logo.png' %}">
                </div>

                {% csrf_token %}
                {{ form }}

                {% for field in registration_form %}
                    
                        {{field.label_tag}}
                        {{field}}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    
                {% endfor %}

                {% if registration_form.non_field_errors %}
                    <div style="color: red">
                        <p>{{registration_form.non_field_errors}}</p>
                    </div>
                {% endif %}

                <div class="submit-btn animation-btn-container">
                    <span class="su_button_circle"></span>
                    <div class="animation-btn">
                        <input class="button_text_container" type="submit" name="register" value="REGISTER">        
                    </div>
                </div>

                <div class="text-center">
                    <b>By signing up, you agree to Kape Giting's</b>
                    <a class="px-1" href="">Term of services</a>
                    <b>and</b>
                    <a class="px-1" href="">Privacy Policy.</a> 
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}