body, html {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  background-image: url('/static/resources/bg.png');
  background-position: center;
  background-size: inherit;
  cursor: url('/static/resources/coffee.cur'), auto;
}

header {
  border-bottom: 2px solid rgb(46, 40, 32);
}

footer {
  border-top: 2px solid rgb(46, 40, 32);
}

strong {
  color: rgb(46, 40, 32);
}

a {
  font-size: 12px;
  color: #4b2108;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
}

.custom-btn {
  border: 2px solid #4b2108;
  background-color: #4b2108;
  color: white;
  font-size: 16px;
  font-weight: normal;
  width: 10em;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  padding: 8px 10px;
}

.button_text_container {
  position: relative;
  z-index: 999;
}

.custom-btn:hover {
  color:black;
  font-weight: bolder;
}

.reverse-color {
  color: #4b2108;
  background-color: white;
  font-weight: bolder;
}

.yellow-color {
  color: #4b2108 !important;
  background-color: #f5f4c7 !important;
  font-weight: bolder;
}

.title {
  color: #4b2108;
  font-family: 'Comfortaa', cursive;
}

input[type=email], input[type=text], input[type=password]  {
  width: 100%;
  border: 2px solid #4b2108;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  padding: 7px;
}

.submit-btn {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #4b2108;
  background-color: #4b2108;
  color: white;
  margin: 5px 0;
  box-sizing: border-box;
  padding: 6px;
  font-size: 1.70em;
}

.submit-btn:hover {
  color: black;
}

.titleLogo {
  display: none;
  position: relative;
  float: right;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  width: 50px;
  height: 50px;
}

/* for scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.glass-backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(141, 104, 76, 0.13);
  border-radius: 10px;
}