{% extends "base2.html" %}
{% load static %}

{% block content %}
  <article class="container-fluid m-0 px-5 row col-12 col-lg-12 mt-3">
    <form class="payment_form" action="{% url 'payment:add_payment'%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
          <span class="display-6"><b>Check Out</b></span>

          <section class="row mt-3 glass-backdrop px-5 py-3"> 
              <div class="mb-4">
                <div>
                    <i class="bi bi-geo-alt-fill h5 me-2"></i>
                    <span class="h5"> Address and Mobile Number</span>
                    <br>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 ">
                        <label for="address">Address</label>
                        {% if request.user.address == "None" %}
                          <input type="text" name="address" placeholder="Address" maxlength="60" autofocus required id="id_address" value="">
                        {% elif request.user.address != "None" %}
                          <input type="text" name="address" placeholder="Address" maxlength="60" autofocus required id="id_address" value="{{request.user.address}}">
                        {% endif %}
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="mobile_number-no">Mobile Number</label>
                        {% if request.user.contact_number == "None" %}
                          <input type="text" name="mobile_number" placeholder="Mobile Number" maxlength="60" autofocus required id="id_mobile_no" value="">
                        {% elif request.user.contact_number != "None" %}
                          <input type="text" name="mobile_number" placeholder="Mobile Number" maxlength="60" autofocus required id="id_mobile_no" value="{{request.user.contact_number}}">
                        {% endif %}
                    </div>
                </div>
              </div>

              <div class="row product_details">
                <div class="col-3 text-center h6"><b>Product</b></div>
                <div class="col-3 h6"><b>Price</b></div>
                <div class="col-3 h6"><b>Amount</b></div>
                <div class="col-3 h6"><b>Subtotal</b></div>
              </div>
              {% for shopping_cart_item in shopping_cart.shopping_cart_items %}
                {% if shopping_cart_item.status == "selected" %}
                  <div class="product product_details row">
                    <div class="col-3 text-center h6">
                      <a href="{% url 'product:product_item' shopping_cart_item.product.id %}" target="_blank"><img class="d-none d-md-inline img-fluid p-1 rounded float-left" style="max-width: 10vw"  
                      src="/media/{{ shopping_cart_item.product.image }}" /></a>
                      <div class="col-3 d-sm-inline d-md-none">{{shopping_cart_item.product.label}}</div>
                    </div>

                    <div class="col-3 h6"><b>₱{{shopping_cart_item.product.price}}</b></div>
                    <div class="col-3 h6"><b>{{shopping_cart_item.quantity}}</b></div>
                    <div class="col-3 h6"><b>{{shopping_cart_item.total_price}}</b></div>
                  </div>
                {% endif %}
              {% endfor %}

              <hr style="height: 3px; border-radius: 5px">
      
                <div class="row">
                  <div class="col-12 col-md-6 ">
                    <img class="img-fluid p-1" src="{% static 'resources/products/pay_icon.png' %}" />                        
                    
                    <input type="hidden" class="payment_option_input" name="payment_option" value="none">

                    <label for="payment_option">Payment Option:</label>
                    <select required name="payment_option" id="payment_method" class="select-syle form-select-md" aria-label=".form-select-sm example" required="required" >
                      <option value="select" selected>Select</option>
                      <option value="cod">Cash on Delivery</option>
                      <option value="pickup">Pick-up</option>
                    </select>

                  <span class="shipping_fee_price" hidden>{{shipping_fee.price}}</span>

                  </div>

                  <input style="display:none" type="text" name="total" class="total_value" value="{{shopping_cart.total_price_selected_integer}}">

                  <div class="col-12 col-md-6 my-auto">
                    <span class="h5 grand_total"> GRAND TOTAL: ₱ <span class="total_price">{{shopping_cart.total_price_selected_integer}}</span></span>
                  </div>
                </div>

              </div>

          </section>

      <section class="col-12 col-lg-12 mt-1 mb-1" style="text-align: right;">               
          <button type="button" class="place_order button_text_container custom-btn " data-bs-toggle="modal">
              PLACE ORDER
          </button>
      </section>

      <input type="hidden" class="proof_exist" name="proof_exist" value="None">
      <input type="hidden" class="payment_option_input" name="payment_option_input" value="none">
      <input type="submit" class="submit_payment_form" name="action" value="ADD PAYMENT" style="display:none">
    <form>
  </article>

  <!-- MODALS -->
  <!-- Place Order Prompt -->
  <article class="modal fade" id="defaultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #fdf6f6;">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b>Place Order</b></h5>
            <!-- Close -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>
                  Are you sure you want to place order?
              </p>
          </div>
          <div class="modal-footer">
            <!-- Yes -->
              <button type="button" class="button_text_container custom-btn reverse-color animation-btn" data-bs-dismiss="modal">Close</button>
              <a type="button" class="confirm_submit button_text_container custom-btn animation-btn">
                  <span>
                      Yes
                  </span>
              </a>  
          </div>
        </div>
      </div>
  </article>

  <!-- MODALS -->
  <!-- Place Order Prompt -->
  <article class="modal fade" id="noPaymentOption" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #fdf6f6;">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b>No Payment Method Selected</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>
                  Please select a payment method.
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="button_text_container custom-btn reverse-color animation-btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </article>

  <!-- MODALS -->
  <!-- Place Order Prompt -->
  <article class="modal fade" id="noProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #fdf6f6;">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel"><b>No Product in Checkout</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>
                  Please select some products in the cart.
              </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="button_text_container custom-btn reverse-color animation-btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </article>
{% endblock %}