{% extends "base2.html" %}
{% load static %}

{% block content %}
<article class="container-fluid m-0 px-5 row">
    <section class="col-12 col-lg-3 my-5 pt-4">
        <div class="col-12 row p-2 h3 d-lg-block mx-1 glass-backdrop">
            <span class="col-9  h5"><b>CUSTOMER PROFILE</b></span>
            <hr>
            <div class="text-center">
                <span ><i class=" display-5 bi bi-person-square"></i></span>
                <span class="d-block h6"> {{request.user.first_name}} {{request.user.last_name}}</span>
                <span class="d-block h6"> {{request.user.username}}</span>
                <span class="d-block h6"> {{request.user.email}}</span>
                <span class="d-block h6"> {{request.user.contact_number}}</span>
            </div>
            
        </div>	       
    </section>	
    
    <section class="col-12 col-lg-9">
        <div class="col-12 mt-2 text-center" >
            <span class="display-5 px-2 text-center"><strong>ORDERS</strong></span>
        </div>
        
        <div style="overflow-y: scroll; height: 69vh;">
          {% if order_cnt == 0 %}
            <div class="col-12 h3">You have no orders right now</div>
          {% endif %}

          {% for order in orders %}
          <div class="row mt-2 mx-0 col-12" >
            <a class="btn p-0 m-0 text-start border border-dark p-2 d-flex flex-row justify-content-between" data-bs-toggle="collapse" style="background-color: antiquewhite;" href="#collapse{{order.id}}" role="button" aria-expanded="false" aria-controls="collapse{{order.id}}">
              <div class="p-0">
                <span class="h6 text-capitalize">
                  <span class="fw-bold">Ordered Date:</span>
                  {{order.created}}
                </span>
                <br>
                <span class="h6 text-capitalize">
                  <span class="fw-bold">Status:</span>
                  {{order.status}}
                </span>
              </div>
              <i class="bi bi-list h1"></i>
            </a>

            <div class="collapse p-0 m-0" id="collapse{{order.id}}">  
              <table class="table table-bordered table-sm" style=" border-color: #4b2108!important;">
                <thead class="table text-center" style="background-color:#4f250d; color: antiquewhite;">
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>

                {% for order_item in order.order_items %}
                  <tbody style="background-color: rgb(255, 235, 222); overflow-y: scroll;">
                    <tr>
                      <td>{{order_item.product.label}}</td>
                      <td>{{order_item.product.price}}</td>
                      <td>{{order_item.quantity}}</td>
                      <td>₱ {{order_item.total_price}}</td>
                    </tr>
                  </tbody>
                {% endfor %}

                <tbody style="background-color: rgb(255, 235, 222); overflow-y: scroll;">
                  <tr>
                    <td colspan="3"></td>
                    <td>₱ {{order.total_price}}</td>
                  </tr> 
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}
        </div>
    </section>
</article>	

{% endblock %}